@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Roboto+Slab:wght@500&family=Source+Sans+Pro:wght@200;400;600&display=swap');

header {
    width: 80%;
    margin: auto;
}

h1 {
    margin: auto;
    width: 50%;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 20px;
}

ul {
    padding-inline-start: 0px;
    margin: 7px;
}

li {
    list-style-type: none;
    display: inline-block;
    padding: .5px;
    padding-top: .5px;
    margin: 4px;
}

nav a {
    color: #777;
    font-family: Source Sans Pro;
    text-decoration: none;
    opacity: .5;
    font-weight: 400px;
    font-weight: 400;
}

nav {
    text-align: center;
    /* border: solid; */
    border: solid rgba(128, 128, 128, 0.175);
    border-left: 0px;
    border-right: 0px;
}

body {
    font-family: 'Source Sans Pro';
    padding: 15px;
}

p {
    color: #777;
    text-align: justify;
    padding-left: 8px;
    padding-right: 9px;
    margin-left: 2px;
    margin-right: 11px;
    font-family: Source Sans Pro;
    pa
}
}

h1 {
    font-family: Abril Fatface;
    font-size: 2em;
    text-align: center;
}

body {
    margin: auto;
    padding: 10%;
}

.date {
    font-family: Source Sans Pro;
    font-weight: 400;
    margin-top: -30px;
    padding-top: 25px;
    margin-left: -66px;
}

main img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;

}

section {
    display: inline-block;
    width: 38%;
    margin: 34px;
    margin-top: -10px;
}

body {
    background: #ddd;
    box-sizing: content-box;
    width: 85%;
    height: 95%;
}

.newspaper-container {
    box-shadow: 2px 2px 2px 3px #ddd;
    width: 700px;
    margin: auto;
    border-radius: 10px;
    border-color: 1px solid #777;
    background-color: white;
    padding-left: 15px;
    padding-right: 15px;
}

h5 {
    font-family: Roboto Slab;
    color: #dd3232;
    font-size: 14px;
    padding-top: -5px;
}
h2 {
    font-family: Roboto Slab;
    color: black;
    padding-bottom: -5px;
}

main {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
}

.more-articles {
    width: 100%;
    height: 80%;
    border-top: solid thin rgba(128, 128, 128, 0.175);
    padding-top:
}

.more-articles p {
    margin-left: -4px;
    margin-right: -19px;
}